<ion-view view-title="Login" align-title="left" ng-init="init()" cache-view="false">
	<ion-content class="padding" style="background: url(img/login.png) center; background-size: cover;">
		<div class="padding-top hero no-header flat">
			<div class="content">
				<br>
				<br>
				<div class="app-icon"></div>
				<h1>Bienvenido a <a class="letra-amarilla">Bike</a>Now</h1>
			</div>
		</div>
		<br>
		<label class="boton-centrado input-unline item item-input item-floating-label">
			<span class="input-label span-login">Correo:</span>
			<input class="input-login placeholder-login" type="text" placeholder="Correo..." spellcheck="false" ng-model="usuario.user" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required>
		</label>
		<label class="boton-centrado input-unline item item-input item-floating-label">
			<span class="input-label span-login">Contraseña:</span>
			<input class="input-login placeholder-login" type="password" placeholder="Contraseña..." spellcheck="false" ng-model="usuario.pwd">
		</label>
		<br>
		<br>
		<button class="button-small boton-transparente boton-centrado button button-block ion-android-person-add icon-left custom-icon-yellow" ng-click="registro()" ng-disabled="controlDisabled">
			<a class="fuente-boton">Registrar Usuario</a>
		</button>
		<button class="button-small boton-transparente boton-centrado button button-block ion-social-facebook icon-left custom-icon-white" ng-click="loginFB()" ng-disabled="controlDisabled">
			<a class="fuente-boton">Ingresar con Facebook</a>
		</button>
	</ion-content>
	<div class="bar bar-footer footer-transparent">
  		<button ng-click="recuperarPass()" class="button boton-transparente linea-boton0" ng-disabled="controlDisabled"><a class="fuente-footer">¿Olvidaste la contraseña?</a></button>
  		<div class="title"></div>
  		<button style="width: 30%;" class="button boton-transparente linea-boton" ng-click="login()" ng-disabled="controlDisabled"><a class="fuente-footer">Ingresar</a></button>
	</div>
</ion-view>
